@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Story+Script&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  button {
    border: none !important;
    box-shadow: none !important;
    font-weight: 600 !important;
    text-transform: uppercase;
  }
  input,
  textarea {
    outline: none !important;
  }
}

@layer components {
  .logo {
    font-family: 'Story Script', sans-serif;
  }

  .transitioning {
    transition: all 0.5s ease-in-out;
  }

  .nav-link {
    @apply font-medium hover:text-grey-3 transitioning;
  }

  .nav-btn {
    @apply bg-light text-main hover:bg-grey-3 transitioning;
  }

  .event-form-input {
    @apply input input-lg w-full border border-grey-2 focus:border-main transitioning;
  }
  
  .event-form-textarea {
    @apply textarea textarea-lg w-full border border-grey-2 focus:border-main resize-none transitioning;
  }

  .event-btn {
    @apply bg-main text-light hover:bg-main-dark transitioning;
  }

  .dark-btn {
    @apply bg-grey-1 text-light  hover:bg-dark transitioning;
  }
}

a.active {
  @apply text-dark;
}

